# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
user = mysql                                   # MySQL启动用户
default-storage-engine = INNODB                # 创建新表时将使用的默认存储引擎
character-set-server = utf8mb4                 # 设置mysql服务端默认字符集
#bind-address = 127.0.0.1                      # 默认绑定到所有地址。如果需要限制访问，可以取消注释并设置为 127.0.0.1 或其他特定 IP
port = 3306                                    # 默认端口
max_connections = 200                          # 允许最大连接数
lower_case_table_names = 1                     # 表名大小写是否敏感
log-error = /logs/error.log                    # 错误日志 log-error = /var/lib/mysql/error.log
slow_query_log = ON                            # 是否开启慢查询日志
long_query_time = 3                            # 慢查询的阈值 （单位秒）
log-queries-not-using-indexes = OFF            # 是否记录未使用索引的查询语句，记录在慢查询日志
slow_query_log_file = /logs/slow_query.log     # 慢查询日志 slow_query_log_file = /var/lib/mysql/slow_query.log
secure-file-priv = ''                          # 允许导入导出
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION # 定义mysql应该支持的sql语法，数据校验等!
default-authentication-plugin=caching_sha2_password

pid-file = /var/run/mysqld/mysqld.pid         # pid文件所在目录
socket = /var/run/mysqld/mysqld.sock          # 用于本地连接的socket套接字
datadir = /var/lib/mysql                      # 数据文件存放的目录
secure-file-priv = /var/lib/mysql-files

symbolic-links = 0                            # 禁用符号链接

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M               # 缓存池大小
# innodb_buffer_pool_instances = 10            # 缓存池实例个数
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

# ================= ↓↓↓ mysql主从同步配置start ↓↓↓ =================
server-id=3307                            # 同一局域网内注意要唯一
relay-log=/var/lib/mysql/mysql-relay-bin.log    # relay_log配置中继日志
# slave-skip-errors=1007,1008,1053,1062,1213,1158,1159  # 异常跳过
# 设置需要同步的数据库 需要同步的主数据库名字
replicate-do-db=acedia-mysql-db
# 设置不要同步的数据库(可设置多个)
replicate-ignore-db=mysql
replicate-ignore-db=performance_schema
replicate-ignore-db=information_schema
replicate-ignore-db=sys
# ================= ↑↑↑ mysql主从同步配置end ↑↑↑ =================

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4                 # 设置mysql客户端默认字符集

# !includedir /etc/mysql/mysql.conf.d/
